.layout-container {
  background-color: #e2e8f0;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.card {
  background: var(--surface-card);
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 6px 7px 16px rgb(150 155 163 / 58%);
}

.user-circle-icon {
  background-color: #eee;
  color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  padding: 8px;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
